.table-container {
  .search-container {
    margin-bottom 10px
    .search-item {
      margin 0 10px 0 0
    }
  }
  .header {
    display flex
    margin-bottom 10px
    align-items center
    .crud-opts-right {
    }
  }
  .path {
    color #1890ff
    margin-left 10px
  }
}